[Unit]
Description=Docker Volume on NAS
Documentation=https://github.com/cblomart/docker-volume-nas

After=network.target docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/docker-volume-nas -sysmp /mnt/

[Install]
WantedBy=multi-user.target